.root{
    font: 15px Arial, sans-serif;
}

.flex_box{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    border: 3px solid black;
    width:700px;
    height:700px;
    margin:10px;
}

.flex_box>*{
    border: 3px solid black;
    height:100px;
    width: 100px;
}

.flex_box>div{
    display:flex;
    margin:2px;
    align-items: center;
    justify-content: center;
    font-size:50px;
    
}



.grid_box>*{
    border: 3px solid black;
    text-align:center;
}

.grid_box {
    margin:10px;
    display:grid;
    grid-template-columns: 175px auto 175px;
    grid-template-rows: 150px auto 150px;
    grid-template-areas: "header header header"
                         "nav main aside"
                         "footer footer footer";
    padding:5px;
    height: 700px;
    width: 700px;
    border: 2px solid black;
    gap: 5px;
    
}

body {
    
    background-color: darkslategray;
}

a {
    font-size: 3rem;
    margin: 10px;
    color: crimson;
    text-decoration: none;
}

footer {
    grid-area: footer;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

